[submodule "Resources/readium-shared-js"]
	path = Resources/readium-shared-js
	url = https://github.com/readium/readium-shared-js.git
[submodule "readium-sdk"]
	path = readium-sdk
url=https://github.com/drminside/readium-sdk.git
[submodule "readium-drm"]
	path = readium-drm
url=https://github.com/drminside/readium-drm.git
